.reports {
  font-family: "Mulish", sans-serif;
}

.reportsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.report {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  min-height: 3rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  transition: scale 0.2s ease-in;

  &:hover {
    scale: 1.0034;
  }

  @media screen and (max-width: 736px) {
    margin-left: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 30px);
    height: auto;
    padding: 10px;
    align-items: baseline;
    gap: 0.2rem;

    &:hover {
      scale: 1;
      background: rgb(244, 244, 244);
    }
  }
}

.marker {
  width: 5px;
  height: 3rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 10px;

  @media screen and (max-width: 736px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: baseline;
    width: 3px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 999;
  }
}

.reportTitle {
  width: 16%;
  max-width: 16%;
  margin-right: 40px;
  font-weight: bold;
  overflow: hidden;
  font-size: 18px !important;
  text-overflow: ellipsis;
  height: 20px;
  white-space: nowrap;

  @media screen and (max-width: 736px) {
    width: 90vw;
    max-width: 90vw;
    height: 20px;
    display: flex;
  }
}

.reportCategory {
  width: 18%;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  i {
    font-size: 1.2rem;
    color: #696969;
  }

  @media screen and (max-width: 736px) {
    width: 100%;
  }
}

.reporterDetail {
  width: 15%;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  i {
    font-size: 1.2rem;
    color: #696969;
  }
  @media screen and (max-width: 736px) {
    width: 100%;
  }
  span {
    color: blue;
  }
}

.dateAndTime {
  width: 25%;
  font-style: italic;
  color: #696969;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  i {
    font-size: 1.2rem;
    color: #696969;
  }
  @media screen and (max-width: 736px) {
    width: 100%;
  }
}

.location {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  i {
    font-size: 1.2rem;
    color: #696969;
  }
  @media screen and (max-width: 736px) {
    width: 100%;
  }
}

.reportTag {
  display: flex;
  justify-content: end;

  @media screen and (max-width: 736px) {
    width: 100%;
    justify-content: baseline;
  }
}

.hashtag {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(255, 21, 60);
}

.newReport {
  background: #3dc050;
  border: 1px solid #3d8023;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 5px 20px;
  margin: 10px 10px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: all 0.2s ease-in;
}

.newReport:hover,
.newReport:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
  border: 1px solid #ff4742;
}
