.but {
   border-radius: 5px;
   background: rgb(40, 40, 163, 0.9);
   padding: 5px 20px;
   border: none;
   margin-top: 10px;
   width: 100%;
   height: 2.5rem;
   font-size: 1rem;
   transition: background-color .2s, box-shadow .2s;
   color: #fff;

   &:hover {
    background: rgb(44, 44, 120);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
   }

   &:disabled {
    background-color: #bfbaba;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
}
}