.authboxHeader {
    text-align: center;
    padding: 0 10px;
    padding-top: 30px;
    padding-bottom: 20px;

    a{
      color:  blue;
    }
 }
 
 .authboxHeaderH {
    font-size: 1.75rem;
    color: #252525;
    letter-spacing: 1px;
    padding-bottom: 5px;
 }

 .question {
   color: rgb(109, 109, 109);
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif; 
 }

