.dashboard {
  padding: 0px;
}
h1 {
  color: blue;
}

.chartContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 0rem;
}

@media screen and (max-width: 736px) {
    .chartContainer {
      width: 700px;
      overflow-x: hidden;
      flex-direction: column;
      gap: 1rem;
    }
  }

@media screen and (max-width: 350px) {
  .chartContainer {
    width: 335px;
  }
}

@media screen and (max-width: 400px) {
  .chartContainer {
    width: 380px;
  }
}

@media screen and (max-width: 450px) {
  .chartContainer {
    width: 400px;
    overflow-x: hidden;
    flex-direction: column;
    gap: 1rem;
  }
}


