.navbarmain {
    height: 4rem;
    background: rgba(255, 255, 255, 0.635);
    border-bottom: 1px solid #6969691d;
    color: #696969;
    display: flex;
    justify-content: space-between;
    align-content: center;
    user-select: none;
}

.navlogosection {

}

.detailssection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}



.notificationicon {
    position: relative;
    cursor: pointer;
}

.notificationdot {
    width: 12px;
    height: 12px;
    background: rgb(255, 0, 0);
    position: absolute;
    border-radius: 50%;
    top: 15%;
    right: 15%;
}