.formContainer {
   padding: 10px 100px;
   padding-bottom: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;

   @media screen and (max-width: 736px) {
      padding: 10px 30px;
   }

   .formBox {
     width: 60%;
     max-width: 600px;
     min-width: 400px;

     @media screen and (max-width: 736px) {
      padding: 10px 30px;
      width: 90%;
      margin-left: 10px;
   }
   }
}

.button23 {
  background: #3dc050;
  border: 1px solid #3d8023;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 15px 30px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: all 0.2s ease-in;
  
}

.button23:hover,
.button23:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
  border: 1px solid #FF4742;
}

.button23:active {
  opacity: .5;
}


.reportingform {
  width: 100%;
}

.formRow {
    height: auto;
    margin-bottom: 5px;
    transition: all .2s ease-in;
   textarea {
    
    width: 100%;
    padding: 5px 10px;
   }
  }
   

  .inputDiv {
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.448);
    height: 2.2rem;
    display: flex;
    justify-content: center;
    width: 100%;
  
    input {
      width: 90%;
      background: transparent;
      border: none;
      outline: none;
      color: grey;
      font-family: Product sans;
      font-size: 1rem;
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
        0 0 0 3px #c8dafc;
    }
  }
  
  .formInputField {
    background: white;
  }
  
  .twoFields {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    .oneOfTwo {
      width: 48%;
    }
  }
  
  .otherAuthHeader {
    padding: 10px 0;
    color: rgba(169, 169, 169, 0.685);
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  .errorMessage {
     color: rgb(255, 40, 40); // Set the color to red
     font-size: 0.8rem; // Adjust the font size
     margin-top: 0.2rem; // Add some top margin
   }
 
   .buttonRow {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
   }