.sidebarmain {
    padding: 10px 10px;
    height: 100vh;
    width: 7.8rem;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    border-right: 1px solid #6969691d;
}

.sidebaritem {
    width: 100%;
    height: 5rem;
    border-radius: 10px;
    transition: all 0.09s ease-in;
    user-select: none;
    position: relative;
    
    //for the inside
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #696969;

    &:hover {
        background: #4848d234;
        cursor: pointer;
        color: #3838ff;
    }
}

.sidebaritemicon {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 2rem;
    }
}

.sidebaritemtitle {
    font-size: 0.9rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebaritemactive {
    background: #4848d229;
    cursor: pointer;
    color: #3838ff;
}

.notificationdot {
    width: 7px;
    height: 7px;
    background: rgba(255, 0, 0, 0.592);
    position: absolute;
    border-radius: 50%;
    bottom: 13%;
    right: 4%;
}